{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    </head>

  <body>
    
        <!-- Contact Start -->
    <div class="container-fluid pt-5">
      <div class="container">
        <div class=" pb-2">
          <p class="section-title px-5">
            <span class="px-2">Register</span>
          </p>
          <h1 class="mb-4">Sign Up</h1>
        </div>
        <div class="row">
          <div class="col-lg-7 ">
            <div class="contact-form">
              <div id="success"></div>
              {% if msg %}
                <b style="color:skyblue;">{{msg}}</b>
              {% endif %}
              <form name="signup" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="First Name"
                    name="fname"
                  />
                  <p></p>
                </div>
                 <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Last Name"
                    name="lname"
                  />
                  <p></p>
                </div>
                <div class="control-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter Email"
                    name="email"
                    data-validation-required-message="Please enter your email"
                  />
                  <p></p>
                </div>
                 <div class="control-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Mobile"
                    name="mobile"
                  />
                  <p></p>
                </div>
                <div class="control-group">
                  <textarea
                    class="form-control"
                    rows="6"
                    id="message"
                    placeholder="Address"
                    name="address"
                  ></textarea>
                <div>
                  <p></p>
                 <div class="control-group">
                  <input
                    type="password"
                    class="form-control"
                    id="name"
                    placeholder="Password"
                    name="password"
                  />
                  <p></p>
                </div>
                <div class="control-group">
                  <input
                    type="password"
                    class="form-control"
                    id="name"
                    placeholder="Confirm Password"
                    name="cpassword"
                  />
                  <p></p>
                </div>

                 <div class="control-group">
                  <input
                    type="file"
                    class="form-control"
                    id="name"
                    name="profile_pic"
                  />
                  <p></p>
                </div>

                  <button
                    class="btn btn-primary py-2 px-4"
                    type="submit"
                    id="sendMessageButton"
                  >
                    Sign Up
                  </button>
                </div>
              </form>
            </div>
          </div>
          </div>
      </div>
    </div>
    <!-- Contact End -->

    {% endblock %}
  </body>
</html>
